<div class="jumbotron" style="background-color:white;">
    <h2>Purple Board</h2>
    <div class="row">
        <div class="col-md-6">
            <span>Applicant: Tharaka Wanigasekera</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("Index", "SaleBoard")" ><span class="glyphicon glyphicon-arrow-right"></span>&nbsp; Sale Board</a>
        </div>
    </div>
</div>
