<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="CosmosDB.UserName" value="purplebrickscosmodb"/>
      <add key="CosmosDB.Host" value="purplebrickscosmodb.documents.azure.com"/>
      <add key="CosmosDB.Password" value="SQb4U04ewRUk1CgoB6SN5ZIlK2GSmcDHonyD3h0jR4ZmYgL4hJ1o7Lrxj9lfqqjnOABbeBZj1v2l2pAbchIC4w=="/>
      <add key="CosmosDB.Database" value="purpleboards"/>
      <add key="DiscountRate.NSW" value="15" />
      <add key="DiscountRate.Other" value="10" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
